h1{
  color: blue
}
@media (orientation:landscape){
  .title{
    color: green;
  }
}
#welcome-section{
  text-align: center;
  height: 100
}
body,html{
  height: 100%;
}
#navbar {
  overflow: hidden;
  background-color: stealblue;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
li{
  color:green
}
